
    <div id="particles-js" style="bagkgroud:firebrick; height: 100%;">
        <main role="main" style="background-color: black; !important;">

        <br>
        <br>
        <br>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing" style="background-color: black; !important">

            <!-- Three columns of text below the carousel -->
            <div class="row m-5">
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/76/16-cell-orig.gif" alt="Generic placeholder image" width="140" height="140">
                <h2>Darkness</h2>
                <p>Everything around you starts to collapse, you find yourself in the dark. But you need to be in the dark to understand more of the light. The state of the world may disturb you: poverty, greed, and even the state of the environment. You wonder why this happened.

The feeling of depression leads you to wonder how you’re going to blend with the society. The desire to be alone, to be with nature, and to be a hermit burn inside you. You feel alone and lost because no one understands what you’re going through. You have nothing to cling to except to seek the answer to this question: “Who Am I?</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Black-and-white_dualism" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://robertlovespi.files.wordpress.com/2013/01/5-hi-120-cell-hecatonicosachoron.gif?w=1400" alt="Generic placeholder image" width="140" height="140">
                <h2>Synchronicity</h2>
                <p>You appreciate the interconnectedness of everything: nature, animals, the stars. You feel you are a part of the universe. As your consciousness expands, you start to see the world more deeply and more connected.

With the broadening of your intuition and psychic abilities, the equality and oneness of all things are more plain to you. Synchronicity starts to manifest in your life. You realize that what shapes your reality are your thoughts, emotions, and feelings. You slowly start to shift and change your lifestyle to support this.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Synchronicity" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://media.giphy.com/media/3oz8xJ9P44pUK6MN6E/giphy.gif" alt="Generic placeholder image" width="140" height="140">
                <h2>Unconditional Love</h2>
                <p>You start to be in alignment with unconditional love as your work alongside the Divine progress. You feel you are love, radiate love and feel love. It becomes clear to you that this life is temporary. And it is given to you to experience and enjoy.

In the end you come to realize that the whole process of awakening is for your greater good.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Unconditional_love" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">"Everything that ever happened to you, you experienced right within you <span class="text-muted">Light and darkness</span></h2>
                <p class="lead">pain and pleasure, agony and ecstasy—all of it happened within you. If someone touches your hand right now, you may think you are experiencing their hand, but the fact of the matter is you are only experiencing the sensations in your own hand. The whole experience is contained within. All human experience is one hundred percent self-created.”</p>
                <p>Sadhguru</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://i.gifer.com/9w80.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">"This is the real secret of life — to be completely engaged with what you are doing in the here and now. <span class="text-muted">And instead of calling it work realize it is play..</span></h2>
                <p class="lead">Tomorrow and plans for tomorrow can have no significance at all unless you are in full contact with the reality of the present, since it is in the present and only in the present that you live. There is no other reality than present reality, so that, even if one were to live for endless ages, to live for the future would be to miss the point everlastingly"</p>
                <p class="lead">Alan Watts</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://i.pinimg.com/originals/62/23/a8/6223a89558865f2598c4f5ee0a3c32a4.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" style="background-color: #09090F;">
            <div class="col-md-7">
                <h2 class="featurette-heading">I am the great waters, upon my face, the primordial pen of mahamaya writes incessantly the lives and destinies of all living beings <span class="text-muted">Every wave, each ripple, the subtlest movement, is my dancing. </span></h2>
                <p class="lead">Yet I, the pure reality, remain ever untouched, unaffected, glorious and beyond all concepts, I, the unimaginable, the formless absolute, alone am.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://i.gifer.com/XWdF.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2019 - 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        </main>
    </div>
