
    <div id="particles-js" style="bagkgroud:firebrick; height: 100%;">
        <main role="main" style="background-color: black; !important;">

        <br>
        <br>
        <br>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing" style="background-color: black; !important">

            <!-- Three columns of text below the carousel -->
            <div class="row m-5">
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://i.pinimg.com/originals/51/44/90/5144904ffac5f2f7195c3975b80618be.gif" alt="Generic placeholder image" width="140" height="140">
                <h2>Darkness</h2>
                <p>Everything around you starts to collapse, you find yourself in the dark. But you need to be in the dark to understand more of the light. The state of the world may disturb you: poverty, greed, and even the state of the environment. You wonder why this happened.

The feeling of depression leads you to wonder how you’re going to blend with the society. The desire to be alone, to be with nature, and to be a hermit burn inside you. You feel alone and lost because no one understands what you’re going through. You have nothing to cling to except to seek the answer to this question: “Who Am I?</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Black-and-white_dualism" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://i.redd.it/xzsczrzjiwc31.gif" alt="Generic placeholder image" width="140" height="140">
                <h2>Synchronicity</h2>
                <p>You appreciate the interconnectedness of everything: nature, animals, the stars. You feel you are a part of the universe. As your consciousness expands, you start to see the world more deeply and more connected.

With the broadening of your intuition and psychic abilities, the equality and oneness of all things are more plain to you. Synchronicity starts to manifest in your life. You realize that what shapes your reality are your thoughts, emotions, and feelings. You slowly start to shift and change your lifestyle to support this.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Synchronicity" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://media.giphy.com/media/1lxl6DBjhJ7rOpsPMq/giphy.gif" alt="Generic placeholder image" width="140" height="140">
                <h2>Unconditional Love</h2>
                <p>You start to be in alignment with unconditional love as your work alongside the Divine progress. You feel you are love, radiate love and feel love. It becomes clear to you that this life is temporary. And it is given to you to experience and enjoy.

In the end you come to realize that the whole process of awakening is for your greater good.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Unconditional_love" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">"Everything that ever happened to you, you experienced right within you <span class="text-muted">Light and darkness</span></h2>
                <p class="lead">pain and pleasure, agony and ecstasy—all of it happened within you. If someone touches your hand right now, you may think you are experiencing their hand, but the fact of the matter is you are only experiencing the sensations in your own hand. The whole experience is contained within. All human experience is one hundred percent self-created.”</p>
                <p>Sadhguru</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d5363711437065.5bbb517b1e2c7.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">"This is the real secret of life — to be completely engaged with what you are doing in the here and now. <span class="text-muted">And instead of calling it work realize it is play..</span></h2>
                <p class="lead">Tomorrow and plans for tomorrow can have no significance at all unless you are in full contact with the reality of the present, since it is in the present and only in the present that you live. There is no other reality than present reality, so that, even if one were to live for endless ages, to live for the future would be to miss the point everlastingly"</p>
                <p class="lead">Alan Watts</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://media1.giphy.com/media/Qw3iDFv1Xxap2/source.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">"It is only through silent awareness that our physical and mental nature can change. <span class="text-muted">This change is completely spontaneous. </span></h2>
                <p class="lead">If we make an effort to change we do no more than shift our attention from one level, from one thing, to another. We remain in a vicious circle. This only transfers energy from one point to another. It still leaves us oscillating between suffering and pleasure, each leading inevitably back to the other. Only living stillness, stillness without someone trying to be still, is capable of undoing the conditioning our biologoical, emotional and psychological nature has undergone. There is no controller, no selector, no personality making choices. In choiceless living the situation is given the freedom to unfold. You do not grasp one aspect over another for there is nobody to grasp. When you understand something and live it without being stuck to the formulation, what you have understood dissolves in your openness. In this silence change takes place of its own accord, the problem is resolved and duality ends. You are left in your glory where no one has understood and nothing has been understood."</p>
                <p class="lead">Jean Klein</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/90d87c11437065.5bbb517b1e7bc.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">"You aren’t actually a someone, a person, who is conscious <span class="text-muted">You are the awake space of awareness itself</span></h2>
                <p class="lead">within which all the “thought up” entities in your world appear. Out of all these imagined entities, you have simply made the mistake of thinking that one of them is you"</p>
                <p class="lead">Enza Vita</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d6aa5611437065.5bbb517b1d454.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">"Realization includes everything <span class="text-muted">, the mundane and the transcendental.</span></h2>
                <p class="lead">In true awakening, nothing stands apart and nothing is excluded. If we find ourselves in a state where something is excluded, that state, however amazing it is, is still a dualistic state."</p>
                <p class="lead">Enza Vita</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://i.pinimg.com/originals/62/23/a8/6223a89558865f2598c4f5ee0a3c32a4.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" style="background-color: #09090F;">
            <div class="col-md-7">
                <h2 class="featurette-heading">I am the great waters, upon my face, the primordial pen of mahamaya writes incessantly the lives and destinies of all living beings <span class="text-muted">Every wave, each ripple, the subtlest movement, is my dancing. </span></h2>
                <p class="lead">Yet I, the pure reality, remain ever untouched, unaffected, glorious and beyond all concepts, I, the unimaginable, the formless absolute, alone am.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://i.gifer.com/XWdF.gif" alt="Generic placeholder image">
            </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2019 - 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        </main>
    </div>
